.root {
  --color1: #233D4D;
  --color2: #215E61;
  --color3: #F5FBE6;
  --color4: #FE7F2D;

  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: var(--color1);
  color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 80px;
    font-weight: 700;
  }

  .content {
    max-width: 1200px;
  }

  .aboutMe {
    max-width: 600px;

    .topBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
    }

    .nameWrapper {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .name {
      font-size: 25px;
      font-weight: 700;
    }

    .position {
      font-size: 18px;
      font-weight: 700;
    }
  }
}