.root {
  :global(html.dark) & {
    --bg: url("/portfolio/images/backgounds/background_night.webp");
  }

  width: 100%;
  height: 100%;
  min-height: 100vh;
  --bg: url("/portfolio/images/backgounds/background_day.webp");
  transition: background 0.5s ease;
  background: var(--bg) center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 100px;
  overflow: hidden;

  &:before {
    content: "";
    position: fixed;
    inset: 0;
    background: var(--bg) center / cover no-repeat;
    transition: background 0.5s ease;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: 0;
  }
}

.home {
  position: relative;
  z-index: 1;
  width: 90vw;
  height: 90vh;
  max-width: 1000px;
  border-radius: 20px;
  overflow: hidden;
  transition: background 0.5s ease, box-shadow 0.5s ease;
  background: var(--bg) center / cover no-repeat fixed;
  box-shadow: 0 0 20px 20px var(--color5);
  transform-origin: var(--originX, 50%) var(--originY, 50%);
}

.themeSelector {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(calc(-50% + var(--lampX, -1000%)), -50%);

  svg {
    width: 40px;
    height: 40px;
    color: var(--color4);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    opacity: 0;
    animation: fadeIn 1s ease-in-out 5.3s forwards;
  }

  .text {
    color: var(--color4);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: -60px;
    left: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1s ease-in-out 5s forwards;
  }

  .switcher {
    width: 100px;
    height: 80px;
  }

  @media (max-height: 650px) {
    .text {
      top: 10px;
      font-size: clamp(8px, 2vh, 16px);
    }

    svg {
      width: 30px;
      height: 30px;
      top: auto;
      bottom: 20px;
      left: auto;
      right: -5px;
      transform: translate(-50%, -50%) rotateY(180deg) rotate(-60deg);
    }
  }
}


.content {
  position: absolute;;
  right: 40px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  .title {
    font-size: 40px;
    text-transform: uppercase;


    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .name, .surname {
      backface-visibility: hidden;
      transform: translate3d(200px, 0, 0);
      will-change: transform;
      background: linear-gradient(
                      90deg,
                      var(--color10),
                      var(--color10),
                      var(--color10),
                      var(--color4),
      );
      background-size: 150% 100%;
      background-position: 0 50%;

      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      animation: titleGradient 7s ease-in-out 4s infinite ;
    }
  }

  .description {
    font-size: 25px;
    font-weight: 700;
    min-width: 100px;
    width: max-content;
    color: var(--color4);
  }

  .hello {
    color: var(--color4);
    font-size: 40px;
    margin-left: 50px;
    align-self: flex-start;
  }
}

.laptop {
  width: calc(200px * calc(var(--scale, 1)));
  height:  calc(150px * calc(var(--scale, 1)));
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + var(--posY)));
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .laptopButton {
    width: 100%;
    height: 100%;
  }

  .laptopText {
    width: max-content;
    position: absolute;
    bottom: 10px;
    right: -20px;
    transform: translate(100%, 0);
    font-weight: 600;
    font-size: 16px;
    font-size: clamp(14px, 2vw, 16px);
    user-select: none;
    opacity: 0;
    animation: fadeIn 1s ease-in-out 6s forwards;
  }

  @media (max-width: 550px) {
    .laptopText {
      width: 100%;
    }
  }
}

@keyframes titleGradient {
  50% {
    background-position: 90% 50%;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1
  }
}

@media (max-width: 1400px) {
  .content {
    .hello {
      margin-left: 0;
      font-size: clamp(14px, 4vw, 40px);
    }
    .description {
      font-size: clamp(14px, 2vw, 30px);
    }
    .title {
      font-size: clamp(18px, 3vw, 40px);
    }
  }
}

@media (max-width: 440px) {
  .home {
    width: 100vw;
    height: 100vh;
  }
}

@media ((max-width: 440px) and (min-height: 600px)) {
  .content {
    .hello {
      font-size: clamp(14px, 6vw, 40px);
    }
    .description {
      font-size: clamp(14px, 4vw, 30px);
    }
    .title {
      font-size: clamp(18px, 6vw, 40px);
    }
  }
}

@media ((max-width: 1000px) and (max-height: 450px)) {
  .content {
    max-width: 40%;
    top: 10px;
    right: 20px;

    .title {
      flex-direction: column-reverse;
    }

    .hello {
      font-size: clamp(14px, 3vw, 40px);
    }
    .description {
      font-size: clamp(11px, 1vw, 30px);
    }
    .title {
      font-size: clamp(15px, 2vw, 40px);
    }
  }
}

