.root {
  width: 100vw;
  height: 100vh;
  background: url("/images/backgounds/tahoe_background_light.webp") center / cover no-repeat;
  overflow: hidden;
  color: var(--typeColor);
  transition: background 0.3s ease, color 0.3s ease;

  :global(html.dark) & {
    background: url("/images/backgounds/tahoe_background_dark.webp") center / cover no-repeat;
  }
}

.iphone {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-template-rows: repeat(auto-fill, minmax(160px, auto));
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}