
.loadingScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  background: #000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;

  svg {
    width: 20vmin;
    height: 20vmin;
    max-width: 200px;
    max-height: 200px;
    color: #fff;
  }
}

.loadingBar {
  position: relative;
  width: 50vw;
  height: 5px;
  max-width: 350px;
  background: #7a7a7a;
  border-radius: 999px;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 999px;
    transform: translateX(var(--loadingProgress));
  }
}