.root {
  width: 100vw;
  height: 100vh;
  background: url("/portfolio/images/backgounds/tahoe_background_light.webp") center / cover no-repeat;
  overflow: hidden;
  color: var(--typeColor);
  transition: background 0.3s ease, color 0.3s ease;

  :global(html.dark) & {
    background: url("/portfolio/images/backgounds/tahoe_background_dark.webp") center / cover no-repeat;
  }
}

.macBookContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 150px);
  padding: 20px;
}

.footerNavBarContainer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;

  .footerNavBar {
    max-width: 80%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .footerGlassContent {
      width: max-content;
    }

    .footerNavBarList {
      display: flex;
      gap: 20px;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .footerNavBarItem {
    position: relative;
    width: 50px;
    height: 50px;

    &:has(.icon:hover) {
      .footerNavBarPlaceholder {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .footerNavBarPlaceholder {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #fff;
    font-size: 12px;
    border-radius: 32px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
}

@keyframes loading {
  100% {
    transform: translateX(0);
  }
}