:root {
  --color1: #2b2823;
  --color2: #424243;
  --color3: #a5a5a5;
  --color4: #b6b6b6;
  --color5: #9d7a001a;
  --color6: rgba(246, 246, 246, 0.5);
  --color7: rgba(255, 255, 255, 0.5);
  --color8: #007aff;
  --color9: #ff3333;
  --color10: rgba(251, 143, 40, 0.8);

  --typeColor: #fff;
}

html.light {
  --color1: #fff;
  --color2: #eaeaea;
  --color3: #777777;
  --color4: #EFE9E3;

  --color5: rgba(0, 0, 0, 0.2);
  --color6: rgba(135, 135, 135, 0.5);
  --color7: rgba(255, 255, 255, 0.5);
  --color8: #007aff;
  --color9: #ff1313;
  --color10: #ff8913;

  --typeColor: #000;
}