.header {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;

  .leftBlock, .rightBlock {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .appleIcon {
    width: 18px;
    height: 18px;
  }
}

.mobileHeader {
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}