.header {
  width: 100%;
  box-shadow: 0 0 8px 0 var(--color2);
  display: flex;
  justify-content: center;
  background: var(--color2);

  .headerContent {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .aboutMe {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .folderIcon {
    width: 24px;
    height: 24px;
  }

  .portfolio {
    font-size: 14px;
    font-weight: 700;
    color: var(--color3);
  }


  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 30px;

    .menu {
      display: flex;
      gap: 15px;
    }

    .menuItem {
      cursor: pointer;
      font-size: 16px;

      &:hover {
        color: var(--color7);
        transition: color 0.3s ease-in-out;
      }
    }
  }
}