.header {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 10px;

  .homeText {
    display: none;
  }

  .mobileMenu {
    display: none;
    cursor: pointer;
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .close {
      display: none;
    }
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color4);

    .menu {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .menuItem {
      cursor: pointer;
      font-size: 16px;
      font-size: clamp(16px, calc(var(--i) * 20px), 18px);
      font-weight: 700;

      &:hover {
        color: var(--color3);
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }

      svg {
        width: 30px;
        height: 30px;
        color: var(--color4);

        &:hover {
          color: var(--color3);
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .settings {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: flex-start;
    color: var(--color4);

    .mobileMenu {
      display: block;
    }

    .headerContent {
      position: fixed;
      inset: 0;
      background: var(--color1);
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      padding: 50px 20px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      .close {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;

        svg {
          width: 60px;
          height: 60px;
        }
      }

      &.open {
        transform: translateX(0);
      }

      .navigation {
        height: auto;
      }

      .menu {
        flex-direction: column;
        gap: 50px;
      }

      .menuItem {
        font-size: 30px;

        .homeEl {
          display: flex;
          align-items: center;
          gap: 10px;

          svg {
            display: none;
          }
        }

        .homeText {
          display: block;
        }
      }
    }
  }
}