.header {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;

  .headerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--color4);

    .menu {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .menuItem {
      cursor: pointer;
      font-size: 16px;
      font-size: clamp(16px, calc(var(--i) * 20px), 18px);
      font-weight: 700;

      &:hover {
        color: var(--color3);
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }

      svg {
        width: 30px;
        height: 30px;
        color: var(--color4);

        &:hover {
          color: var(--color3);
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .settings {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

