.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.languageList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;

    &.active {
      .icon {
        filter: grayscale(0);
        border: 3px solid var(--color8);
      }
    }
  }

  .label {
    color: var(--color3)
  }

  .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    filter: grayscale(.8);
    transition: all 0.3s ease;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-height: 760px) {
  .title {
    margin-bottom: 8px;
  }

  .languageList {
    gap: 5px;

    .icon {
      width: 35px;
      height: 35px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
