.liquidGlassWrapper {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--lg-background, rgba(255, 255, 255, 0.1));
    border-radius: var(--lg-border, 2rem);
    overflow: hidden;
    flex: 1 1 auto;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    --lg-highlight: var(--color5);
}

.overlay {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: 1;
    box-shadow: inset 2px 2px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
}

.liquidGlassEffect {
    position: absolute;
    inset: 5px;
    border-radius: inherit;
    z-index: 2;
    overflow: hidden;
    filter: url(#glassFilter);
    backdrop-filter: blur(3px);
}

.glassContent {
    position: relative;
    z-index: 3;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
    padding: var(--lg-padding, 12px 28px);
    gap: 1rem;
    flex-wrap: wrap;
}