.settings {
  .iconButton {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 1px;
  max-height: calc(100% - 40px);
  height: 100%;
  border-radius: 0 0 20px 20px;
  background-color: var(--color1);

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

  .description {
    font-size: 15px;
    font-weight: 500;
  }
}

.block {
  width: 100%;
  border: 1px solid var(--color4);
  border-radius: 20px;
  background-color: var(--color2);
  padding: 20px;
}

.goBackButton {
  background-color: var(--color2);
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--color4);
  color: var(--color9);
  font-size: 20px;
  font-weight: 500;
  margin-top: auto;
}