.themeSelector {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .themeSelectorList {
    display: flex;
    gap: 20px;
  }

  .themeSelectorImage {
    border-radius: 20px;
    border: 5px solid transparent;
  }

  .themeSelectorItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

  .active {
    .themeSelectorImage {
      border-color: var(--color8);
    }
  }
}

