.themeSelector {
  position: relative;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color5);
  border-radius: 999px;
  padding: 10px 12px;

  .toggleText {
    position: absolute;
    opacity: 0;
  }

  :global(html.dark) & {
    .sun {
      color: #EEEEEEFF;
    }

    .moon {
      color: #09e0fa;
    }
  }

  .sun, .moon {
    width: 20px;
    height: 20px;
    z-index: 2;
    color: #373737;
  }

  .sun {
    color: #ff8800;
  }

  .selector {
    position: absolute;
    left: 5px;
    width: 35px;
    height: 30px;
    z-index: 1;
    background: var(--color1);
    border-radius: 999px;
    transition: all .3s ease-in-out;
    border: 2px solid var(--color5);
    background: rgba(220, 220, 220, 0.3);
  }
}

:global(html.dark) {
  .themeSelector {
    .selector {
      transform: translateX(40px);
    }
  }
}

